
<form action="/products" method="post">
    <div class="flexContainer">
{{#each products}}
<div class="productContainer">
<h2 class="nameProd">{{name}}</h2>
<p class="descriptionProd">{{description}}</p>
<p>Price : {{price}}€</p>
<img src="{{image}}" alt="{{name}}">

<div class="inputProd">
<label for="quantity">Quantity: </label>
<!-- <span class="btnMinus"><i class="fas fa-minus"></i></span> -->
<input class="quantity" value="1" type="number" name="quantity" min="1">
<!-- <span class="btnPlus"><i class="fas fa-plus"></i></span> -->
<button data-productid="{{_id}}" class="btnBasket">Add to basket</button>
</div>
</div>
{{/each}}
</div>
</form>
<footer class="footName1">
    <div class="footCat">
       C.A.T.
    </div>
    <div class="reseaux">
       Contact us !
       <i class="fab fa-facebook-square"></i>
       <i class="fab fa-twitter-square"></i>
       <i class="fab fa-instagram-square"></i>
    </footer>